@import '../../Utils/Mixins/mixins.scss';

.about-content-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 118px;

    .about-content-left {
        animation: slideInLeft 1s ease forwards;
        .personal-infos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            padding: 25px 0;

            .info {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;

                h2 {
                    color: #209cee;
                }
                p, span{
                    font-size: 20px;
                    margin: 0 5px;
                }
            }
        }
    }
    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .about-content-right {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        gap: 15px;
        background-image: url('https://i.goopics.net/9i6waf.png');
        animation: slideInRight 1s ease forwards;

        .content-right {
            padding: 30px 10px;
            width: 125px;
            box-shadow: 0 0 20px #209cee;

            h2 {
                width: 40px;
                color: #209cee;
            }
            p {
                margin-top: 8px;
                text-align: center;
            }
        }
    }
    @keyframes slideInRight {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
.about-content-collapse {
    display: flex;
    flex-direction: row;
    animation: slideInBottom 2s ease forwards;

    .home-icon {
        display: flex;
        justify-content: space-around;
        position: relative;

        img {
            width: 60px;
            height: auto;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .about-content-info {
        padding-bottom: 50px;
        .about-content-left {
            @keyframes slideInLeft {
                from {
                    transform: translateX(0);
                    transform: translateY(100%);
                    opacity: 0;
                }
                to {
                    transform: translateX(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            .personal-infos {
                flex-direction: column;
                gap: 0;
                .info {
                    margin: auto;

                    h2 {
                        margin-right: 0;
                        font-size: 20px;
                        color: #209cee;
                    }
                    p, span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .about-content-collapse {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .about-content-info {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;

        .about-content-left {
            margin-top: 25px;
            .personal-infos {
                padding: 25px 0;
                .info {
                    width: 100%;
                    flex-direction: column;
                    h2 {
                        width: 100%;
                        margin-right: 0;
                    }
                    p, span {
                        width: 100%;
                        margin: 5px 0;
                    }
                }
            }
        } 
        .about-content-right {
            display: none;
        }
    }
    .about-content-collapse .home-icon{
        flex-wrap: wrap;
        gap: 30px;
    }
}