@import '../../Utils/Mixins/mixins.scss';

.about-content-info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .about-content-left {
        // display: flex;
        // flex-direction: column;

        .personal-infos {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 25px 0;

            .info {
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;

                h2 {
                    color: #209cee;
                }
                p, span{
                    font-size: 20px;
                    margin: 0 5px;
                }
            }
        }
    }
    .about-content-right {
        border: 2px solid rgba(211, 211, 211, 0.089);
        display: flex;
        justify-content: space-between;
        padding: 15px;
        gap: 15px;

        .content-right-old {
            border: 2px solid rgba(211, 211, 211, 0.089);
            padding: 30px 10px;
            width: 125px;

            h2 {
                width: 40px;
                color: #209cee;
                border-bottom: 1px solid rgba(211, 211, 211, 0.089);
            }
            p {
                margin-top: 8px;
                text-align: center;
            }
        }
        .content-right-projet {
            border: 2px solid rgba(211, 211, 211, 0.089);
            padding: 30px 15px;

            h2 {
                width: 40px;
                color: #209cee;
                border-bottom: 1px solid rgba(211, 211, 211, 0.089);
            }
            p {
                margin-top: 8px;
                text-align: center;
            }
        }
    }
}
.btn-download-cv {
    @include button;
    margin: 65px auto 70px auto;
}
.about-content-collapse {
    display: flex;
    flex-direction: row;

    .home-icon {
        display: flex;
        justify-content: space-around;
        position: relative;

        img {
            width: 60px;
            height: auto;
            border-radius: 50%;
            transition: box-shadow 0.3s;
        }
        img:hover {
            box-shadow: 0 0 20px #209cee;
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-content-info {
        .about-content-left {
            .personal-infos {
                flex-direction: column;
                gap: 0;
                .info {
                    margin: auto;

                    h2 {
                        margin-right: 0;
                        font-size: 20px;
                        color: #209cee;
                    }
                    p, span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .about-content-collapse {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .about-content-info {
        text-align: center;
        display: flex;
        justify-content: center;

        .about-content-left {
            margin-top: 25px;
            .personal-infos {
                padding: 25px 0;
                .info {
                    width: 100%;
                    flex-direction: column;
                    h2 {
                        width: 100%;
                        margin-right: 0;
                    }
                    p, span {
                        width: 100%;
                        margin: 5px 0;
                    }
                }
            }
        } 
        .about-content-right {
            display: none;
        }
    }
    .btn-download-cv {
        margin: auto;
    }
    .about-content-collapse .home-icon img {
        width: 35px;
        height: auto;
    }
}