/* Thème sombre */
.dark-theme {
  background-color: #333;
  color: #fff;

  a, button,
  span#dynamic-title {
    color: #fff;
  }
  
  .about-content-right,
  .content-right{
    border: 2px solid rgba(211, 211, 211, 0.089);
    background-color: #333;

    h2 {
      border-bottom: 1px solid rgba(211, 211, 211, 0.089);
    }
  }

  .modal-content {
    background-color: #333;
  }

  .card-link .description {
    background-color: rgba(71, 71, 71, 0.8);
  }
}
  
/* Thème clair (par défaut) */
.light-theme {
  background-color: #fff;
  color: #333;

  a, button,
  span#dynamic-title {
    color: #000;
  }

  .about-content-right,
  .content-right {
    border: 2px solid rgba(211, 211, 211, 0.4745098039);
    background-color: #fff;

    h2 {
      border-bottom: 1px solid rgba(211, 211, 211, 0.4745098039);
    }
  }

  .modal-content {
    background-color: #fff;
  }

  .card-link .description {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
  