/* Thème sombre */
.dark-theme {
    background-color: #333;
    color: #fff;

    a, button,
    span#dynamic-title {
        color: #fff;
    }
  }
  
  /* Thème clair (par défaut) */
  .light-theme {
    background-color: #fff;
    color: #333;

    a, button,
    span#dynamic-title {
        color: #000;
    }
  }
  