@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
.home-content {
  display: flex;
  justify-content: space-around;
  padding: 0 0 160px 0;
}
.home-content .home-pdp {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-radius: 50%;
  border: 10px solid #209cee;
  max-width: 350px;
  width: 100%;
  max-height: 300px;
  height: 100%;
}
.home-content .home-pdp img {
  border: 2px solid rgba(211, 211, 211, 0.4745098039);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.home-content .home-text-et-btn {
  width: 40%;
  height: 100%;
}
.home-content .home-text-et-btn .home-titre {
  color: #209cee;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  padding-bottom: 30px;
}
.home-content .home-text-et-btn .home-titre span#dynamic-title {
  animation: fadeInOut 4s ease-in-out infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.home-content .home-text-et-btn .home-description {
  text-align: center;
  padding: 25px;
  font-size: 18px;
  line-height: 2;
}
.home-content .home-text-et-btn .btn-about {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #209cee;
  padding: 10px 20px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.home-content .home-text-et-btn .btn-about:hover {
  background-color: #209cee;
}

@media screen and (max-width: 1024px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }
  .home-content .home-pdp {
    margin: auto;
    border: none;
    padding: 0;
  }
  .home-content .home-pdp img {
    width: 100%;
  }
  .home-content .home-text-et-btn {
    width: 100%;
  }
  .home-content .home-text-et-btn .home-titre {
    padding: 50px 3% 30px 3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .home-content .home-text-et-btn .home-description {
    text-align: center;
    line-height: 1;
  }
}
.about-content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-content-info .about-content-left {
  display: flex;
  flex-direction: column;
}
.about-content-info .about-content-left .personal-infos {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
}
.about-content-info .about-content-left .personal-infos .info {
  width: calc(50% - 35px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-content-info .about-content-left .personal-infos .info h2 {
  margin-right: 20px;
  color: #209cee;
}
.about-content-info .about-content-left .personal-infos .info p, .about-content-info .about-content-left .personal-infos .info span {
  font-size: 20px;
  margin: 0 5px;
}
.about-content-info .about-content-right {
  width: 20%;
}
.about-content-info .about-content-right img {
  width: 200px;
  height: 200px;
  margin-bottom: 70px;
}

.btn-download-cv {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #209cee;
  padding: 10px 20px;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  background-color: transparent;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.btn-download-cv:hover {
  background-color: #209cee;
}

.about-content-collapse {
  display: flex;
  flex-direction: row;
}
.about-content-collapse .home-icon {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.about-content-collapse .home-icon img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  transition: box-shadow 0.3s;
}
.about-content-collapse .home-icon img:hover {
  box-shadow: 0 0 20px #209cee;
}

@media screen and (max-width: 1024px) {
  .about-content-info .about-content-left .personal-infos {
    min-width: 100%;
    width: calc(50% - 0px);
  }
  .about-content-info .about-content-left .personal-infos .info {
    margin: auto;
  }
  .about-content-info .about-content-left .personal-infos .info h2 {
    margin-right: 0;
    font-size: 20px;
    color: #209cee;
  }
  .about-content-info .about-content-left .personal-infos .info p, .about-content-info .about-content-left .personal-infos .info span {
    font-size: 18px;
  }
  .about-content-info .about-content-right {
    display: none;
  }
  .about-content-collapse {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .about-content-info {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .about-content-info .about-content-left {
    margin-top: 25px;
  }
  .about-content-info .about-content-left .personal-infos {
    padding: 25px 0;
  }
  .about-content-info .about-content-left .personal-infos .info {
    width: 100%;
    flex-direction: column;
  }
  .about-content-info .about-content-left .personal-infos .info h2 {
    width: 100%;
    margin-right: 0;
  }
  .about-content-info .about-content-left .personal-infos .info p, .about-content-info .about-content-left .personal-infos .info span {
    width: 100%;
    margin: 5px 0;
  }
  .btn-download-cv {
    margin: auto;
  }
  .about-content-collapse .home-icon img {
    width: 35px;
    height: auto;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.4745098039);
}
nav .nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav .nav-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .nav-menu ul li {
  margin: 0 25px;
}
nav .nav-menu ul li a {
  text-decoration: none;
  padding: 10px;
}
nav .nav-menu ul li a.active {
  color: #209cee;
  font-size: 20px;
}
nav .nav-menu ul li a:hover {
  color: #209cee;
}
nav .nav-menu ul li a i {
  margin-right: 15px;
}
nav .theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
nav .theme-switch input:checked + .slider {
  background-color: #209cee !important;
}
nav .theme-switch input:checked + .slider::before {
  transform: translateX(25px) !important;
}
nav .theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: 0.4s;
  border-radius: 34px;
}
nav .theme-switch .slider::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 2.5px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
nav .theme-switch .theme-switch:hover i {
  color: #209cee;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: start;
    padding: 0;
  }
  nav img {
    padding: 10px 15px;
  }
  nav .nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav .nav-menu ul {
    display: flex;
    flex-direction: column;
  }
  nav .nav-menu ul li {
    margin: 15px 0 15px 0;
  }
  nav .theme-switch {
    margin: 13px 10px 0 0;
    padding: 10px 15px;
  }
  nav .theme-switch input:checked + .slider::before {
    transform: translateX(21px) !important;
  }
}
.footer-content .footer-link {
  border-top: 1px solid rgba(211, 211, 211, 0.4745098039);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 21px;
}
.footer-content .footer-link a {
  margin: 0 30px;
}
.footer-content .footer-link a:hover {
  transform: scale(1.1);
}
.footer-content .copyright {
  text-align: center;
  padding: 21px;
}

@media screen and (max-width: 1024px) {
  .figure-footer img {
    width: 25px;
    height: 25px;
  }
}
.collapse-container {
  width: 100%;
  min-height: 52px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
}
.collapse-container .collapse {
  font-size: 24px;
  font-weight: 500;
  padding: 0 15px;
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #209cee;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
  border: none;
}
.collapse-container .collapse.open {
  border-radius: 5px 5px 0 0;
}
.collapse-container .collapse .rotate-up {
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.collapse-container .collapse .rotate-down {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
.collapse-container .description-collapse {
  background-color: rgba(211, 211, 211, 0.4745098039);
  margin: 0;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 768px) {
  .collapse-container .collapse {
    font-size: 20px;
  }
}
/* Thème sombre */
.dark-theme {
  background-color: #333;
  color: #fff;
}
.dark-theme a, .dark-theme button,
.dark-theme span#dynamic-title {
  color: #fff;
}

/* Thème clair (par défaut) */
.light-theme {
  background-color: #fff;
  color: #333;
}
.light-theme a, .light-theme button,
.light-theme span#dynamic-title {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 100px 30px;
}

input {
  display: none;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
