@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.4745098039);
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-menu ul li {
  margin: 0 30px 0 30px;
}
.nav-menu a {
  text-decoration: none;
  padding: 10px;
}
.nav-menu a.active {
  color: #209cee;
  font-size: 20px;
}
.nav-menu a:hover {
  color: #209cee;
}
.nav-menu a i {
  margin-right: 15px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
}
.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: 0.4s;
  border-radius: 34px;
}
.theme-switch .slider::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 2.5px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.theme-switch input {
  display: none;
}
.theme-switch input:checked + .slider {
  background-color: #209cee !important; /* Ajoutez !important */
}
.theme-switch input:checked + .slider::before {
  transform: translateX(25px) !important; /* Ajoutez !important */
}

.theme-switch:hover i {
  color: #209cee;
}

/* Styles pour les écrans de largeur maximale de 1024px (mode responsive) */
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: start;
    padding: 0;
  }
  nav img {
    padding: 10px 15px;
  }
  nav .nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav .nav-menu ul li {
    margin: 15px 0 15px 0;
  }
  nav .theme-switch {
    width: auto;
    padding: 10px 15px;
  }
}
.div-footer {
  border-top: 1px solid rgba(211, 211, 211, 0.4745098039);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.div-footer a {
  margin: 0 30px;
}
.div-footer a:hover {
  transform: scale(1.1);
}

p {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .figure-footer img {
    width: 25px;
    height: 25px;
  }
}
/* Thème sombre */
.dark-theme {
  background-color: #333;
  color: #fff;
}
.dark-theme a {
  color: #fff;
}
.dark-theme button {
  color: #fff;
}

/* Thème clair (par défaut) */
.light-theme {
  background-color: #fff;
  color: #333;
}
.light-theme a {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
