// Styles pages
@import './pages/home/home.scss';
@import './pages/about/about.scss';
@import './pages/porfolio/portfolio.scss';
@import './pages/contact/contact.scss';

// Styles components
@import './components/header/navbar.scss';
@import './components/footer/footer.scss';
@import './components/main/collapse/collapse.scss';

// Thèmes
@import './themes/themes.scss';

// Mixin
@import'./Utils/Mixins/mixins.scss';

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 50px;
}

h1 {
    font-size: 34px;
}

input {
    display: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}